
*.pyc
python/logfile.log

python.zip


python/logfile.log.log
python/logfile.log.log
python/logfile.log.tmp.log
python_20240ß508a.zip
temp_workbook.table_PatternWorkbook.json
temp_workbook.table_ProgGenerator.json
python/LEDs_AutoProg/LEDs_AutoProg.h
*.log
