<html>
<head>
</head>
<body bgcolor="7f7f7f">
<font face="verdana" size="2">
<table border="0" width="100%%">
    <tr>
        <td colspan="2">
            <b>%(name)s (%(desc)s) Version %(major)s.%(minor)s.%(fix)s</b>
        </td>
    </tr>
    <tr>
        <td align="center" valign="top">insert project logo here</td>
        <td valign="top">
            Add a verbose description of your project here...
            <p>%(name)s project homepage: <a href="%(appurl)s">%(appurl)s</a><p>
            <p>Developed using the PythonCard GUI toolkit and wxPython,
            <a href="http://pythoncard.sourceforge.net">http://pythoncard.sourceforge.net</a></p>
        </td>
    </tr>
</table>
</font>
</body>
</html>
